*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
  body{
    background: url(Dark\ Purple\ Gradient\ minimalist\ Business\ Invoice.png);
    background-size: cover;
    
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  margin: 0 650px;
  width: 20%;
  border-radius: 20px;
}

.title {
  color: white;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.imglogo{
  border-radius: 20px;
}
.cardbtn2 {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 28px;
  width: 300px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  border-radius: 10px;
}

.cardbtn2:hover {
  color: white;
  background-color: darkcyan;
  width: 300px;
  transition: ease-in .4s;
}
